<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--  1、使用类的无参构造函数创建  -->
    <bean id="userService1" class="com.wzy.service.UserService" scope="singleton" lazy-init="true" primary="true"/>

    <!--  2、使用静态工厂进行创建  -->
    <!--  class值写的不是User对象的全路径，而是静态工厂的全路径-->
    <!--  factory-method的值写要调用的方法-->
    <bean id="userService2" class="com.wzy.service.StaticFactory" factory-method="getUser" scope="singleton"/>

    <!--  3、使用实例工厂进行创建  -->
    <bean id="userServiceFactory" class="com.wzy.service.UserServiceFactory"/>
    <bean id="userService3" factory-bean="userServiceFactory" factory-method="getUser" scope="singleton"/>

    <!--  4、使用FactoryBean进行创建  -->
    <bean id="userService4" class="com.wzy.service.UserServiceFactoryBean"/>
</beans>

